#karma-wrapper{
    margin: auto;
    width: fit-content;
    display: inline-block;
    margin-left: 15%;
    margin-right: 0;
    text-align: center;
}

img{
    background-color: rgba(0, 0, 0, 0);
    width: 55%;
    color: #FFFFFF;
    font-size: medium;
}

img:hover{
    cursor: pointer;
}

p{
    width: fit-content;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bolder;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}