#karma-wrapper{
    margin: auto;
    width: fit-content;
    display: inline-block;
}

img{
    /* GOES W/ MARGINS:AUTO display: block; */
    width: 55%;
    color: #FFFFFF;
    /* GOES W/ DISPLAY:BLOCK margin-left: auto;
    margin-right: auto; */
}

img:hover{
    cursor: pointer;
}

p{
    width: fit-content;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bolder;
    /* GOES W/ DISPLAY:BLOCK margin: auto; */
}