.table{
    margin: auto;
    width: 98%;
    border: 3px solid #1A258D;
    border-radius: 3px;
    background-image: url(../../assets/bg_nebula_2.png);
    background-size: cover;
}

.table *{
    text-align: center;
    border: 1px solid #1A258D;
    color: #FFFFFF;
    font-size: x-large;
}

.table tr *:hover{
    font-weight: bold;
    border: 1px solid #fc581c;
}

thead tr th{
    border-color: #fc581c;
}

.row{
    margin-top: 10px;
    height: 7rem;

}

.name{
    font-style: italic;
    font-weight: bold;
}