#flair-card{
    background-image: radial-gradient(#1A258D, #9599b6);
    color: #FFFFFF;

    border: 2px solid #1A258D;
    border-radius: 12px;
    
    width: fit-content;
    margin: 8px;
}

#flair-card p{
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}