<!-- <p>login works!</p> -->

<div id="login-content-wrapper">

    <img src="../../assets/reddit-logo-icon.png"/>

    <div id="aligner-div">
        <h1>Welcome redditor!</h1>
        <h3>Please Log In to proceed:</h3>
        <form class="form-area">
            
            <br>
            <input class="field" type="text" placeholder="Username">
            <br>
            <input class="field" type="password" placeholder="Password">
            <br>
        
            <button id="btn-log-in" (submit)="login()">Log me in</button>
            <p> <a href="/register">Not a redditor yet?</a> </p>
        </form>
    </div>

</div>