h2 {
    font-style: italic;
}

#list-container {
    background-image: url(../../assets/bg_nebula_2.png);
    /* background-size: cover; */
    border-radius: 3px;
    width: inherit;
    height: auto;
}

#header-create-community-btn{
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: large;
    background-image: linear-gradient(to bottom right, #fc581c, #fd9d5d);
    margin: 5px;
}

#header-create-community-btn:hover{
    text-decoration: underline;
    border-radius: 7px;
    transition: all .2s ease-in-out;
}

#header-items-container{
    width: 100%;
    margin: auto;
    background-color: whitesmoke;
}