body {
    background-color: #3e8d1a;
    /* align-items: center; */
    height: 100%;
    width: 100%;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 1;
}

#footer{
    cursor: pointer;
    background-image: radial-gradient(whitesmoke, rgb(212, 212, 212));
    border: 1px solid lightblue;
    border-radius: 3px;
    width: 100%;
    height: 35px;
    margin-top: 8px;
    text-align: center;
    color: orangered;
    font-weight: bold;
    font-size: xx-large;
    font-style: italic;
    position: sticky;
    bottom: 0;
    top: 60vh;
}

#footer:hover{
    border: 1px solid #fc581c;
    color: #fc581cef;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

#footer img{
    margin: auto;
    margin-top: 3px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
}
#footer img:hover{
    /* transform: scale(1.1); */
    border: 1px dotted orangered;
}