#suspension-form-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(224, 123, 123, 0.726);
    position: absolute;
    z-index: 1;
}
#suspension-form{
    /* margin: 50%; */
    position: fixed;
}

#community-overview-wrapper{
    width: 100%;
}

#community-card p {
    /* width: 100%; */
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}

#community-card {
    background: #FFFFFF;
    border: 1px;
    border-radius: 8px;
    width: 60%;
    height: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

.flair-list-wrapper, .posts-list-wrapper{
    /* display: inline-block; */
    width: 100%;
}

.flair-list-wrapper{
    display: flex;
    flex-wrap: nowrap;
}

#rules-component{

    /* ! ! ! "max-height" FIXATES THE MAX-HEIGHT LOGICALLY (FOR BELOW CONTENT MARGIN REASONS), BUT STILL KEEPS THE FULL HEIGHT DISPLAY OF ITS CONTENT
            MEANING IT NOW PROPERLY OVERLAPS WITH THE NON-USABLE BELOW SPACE ! ! ! */
    max-height: 175px;
    z-index: 0;
}

#flairs-component{
    width: 100%;
}

#btn-suspend{
    
    color: white;
    background-image: linear-gradient(to bottom right, #fc581cb9, orangered);
    font-size: x-large;
    /* position: sticky;
    top: 35%;
    z-index: 1; */
    /* position: absolute; */
    margin-bottom: 1%;
    /* margin: auto; */
    border: 3px solid black;
    cursor: pointer;
    text-transform: uppercase;
}

#btn-suspend:hover{
    border-radius: 3px;
    transform: scale(0.95);
    transition: all .2s ease-in-out;
}