/* #wrapper{
    display: inline;
} */
/* body{
    display: grid;
    grid-template-columns: max-content 1fr;
} */

#comment{
    background-image: linear-gradient(to bottom right, #ffffff, #e6e6e6);
    display: inline-block;
    /* grid-column: 1; */
    border-radius: 3px;
    width: 85%;
    height: fit-content;
    margin-left: auto;
    margin-right: 1%;
    margin-bottom: 2%;
}