#nav-items-container{
    width: 100%;
    background-color: whitesmoke;
    /* vertical-align: middle; */
    margin-bottom: 10px;
    height: 65px;
    border-radius: 3px;
}

.nav-item{
    background-image: linear-gradient(to bottom right, azure, white);
    border: 1px solid #fc581c;
    width: fit-content;
    margin: auto 10px;
    display: inline-block;
    vertical-align: middle;
}

.nav-item:hover{
    background-image: linear-gradient(to bottom right, #e8ebff, azure);
    border-radius: 5px;
    border-color: red;
    transition: all .2s ease-in-out;
}

.nav-item a, button{
    text-decoration: none;
    color: #fc581c;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px;
}

#img-div{
    
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: auto 10px;
    vertical-align: middle;
    border-radius: 50%;
}

#img-div img{
    min-width: 51px;
    max-width: 61px;
    min-height: 51px;
    max-height: 61px;
    cursor: pointer;
    color: #fc581c;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    border-radius: 50%;
}