<p>profile works!</p>

<div id="container">
    <p>karma</p>
    <div id="img-container">
        <img (click)="choosePic()" id="profile-img" src="" alt="Profile Pic"/>
    </div>
    
    <label for="description">Description:</label>
    <input id="description" class="editable"/>

    <label for="display-name">Alias:</label>
    <input id="display-name" class="editable"/>

    <!-- <button (click)="unhideForm()" id="change-password-btn"></button> -->
    <button id="change-password-btn">Change password</button>

    <button id="save-changes">Save changes</button>
</div>