#flair-list{
    width: 100%;
    background-image: linear-gradient(to bottom right, #ffffff, #8490ec);
    border-radius: 3px;
    /* border: 2px groove #1A258D; */
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 1%; */
}