#content{
    width: 100%;
    background-image: linear-gradient(to bottom right, #ffffff, #8490ec);
    border-radius: 3px;
    
}

#flair-list{
    display: flex;
    flex-wrap: wrap;
}

h2{
    font-weight: bold;
    font-style: italic;
    /* text-decoration: overline; */
    margin: 0 0 14px 1px;
}