#list-container{
    /* background-image: linear-gradient(to bottom right, #fc581c, #ffc59e); */
    /* background-image: linear-gradient(to bottom right, #1A258D, #000000); */
    background-image: linear-gradient(to top, #3340b6, #0064fa6b);
    border: 2px #ffffff solid;
    border-radius: 8px;
    width: 97%;
    height: auto;
    min-height: 45vh;
    margin-left: auto;
    margin-right: auto;
}

#create-btn{
    height: auto;
    width: 97%;
    border: 2px #FFFFFF groove;
    border-radius: 2px;
    margin-top: 10%;
    margin-left: 1%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    text-align: center;
    /* background-color: #fc581c; */
    background-image: radial-gradient(#fc581c, #fd9d5d);

}

#create-btn:hover{
    font-size: large;
    cursor: pointer;
    background-image: radial-gradient(#2f42eb, #0a00305e);
    transition: all .4s ease-in-out;
}

#comment-form{
    margin-left: 20px;
}