<!-- <p>register works!</p> -->

<div id="register-content-wrapper">

    <img src="../../assets/reddit-logo-icon.png"/>

    <div id="aligner-div">
        <h1>First, let us register your account:</h1>
        <form class="form-area">
            
            <br>
            <input class="field" type="text" placeholder="Username">
            <br>
            <input class="field" type="password" placeholder="Password">
            <input class="field" type="password" placeholder="Confirm password">
            <br>
            <button id="btn-sign-up" (submit)="register()">Sign me up!</button>
            
        </form>
    </div>

</div>